@media (max-width: 768px) {
  #Logotipo {
    width: 50%;
  }

  .Pizzaria-text {
    width: 90%;
    padding: 10px;
  }

  .hero {
    height: 200px;
  }

  .hero h1 {
    font-size: 24px;
    padding: 10px;
  }

  nav a {
    font-size: 16px;
  }
}
