@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #d50000;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#Logotipo {
  width: 8%;
  height: auto;
  transition: transform 0.3s;
}

#Logotipo:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #b71c1c;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.3s;
}

.hero {
  background-image: url("../imagens/pizza1.png");
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  color: white;
  text-align: center;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.Pizzaria-text {
  margin: 1% auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#mais-vendidas {
  font-family: "Sixtyfour Convergence";
  color: black;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
}

.menu-item {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.menu-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.menu-item h3 {
  margin: 10px 0;
  font-size: 24px;
}

.menu-item p {
  color: #757575;
}

footer {
  background-color: #d50000;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
